body {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#task6-form {
    text-align: center;

    width: 160px;
    display: flex;
    flex-direction: column;
}